<nav>
<h2>
  <a style="color: white;" href="{{site.baseurl}}/"> Home </a> | 
  <a style="olor: white;" href="{{site.baseurl}}/edu/">Education & experience</a> | 
  <a style="color: white;" href="{{site.baseurl}}/pubs/">Publications</a> | 
  <a style="color: white;" href="{{site.baseurl}}/funding/">Grants & awards</a> | 
  <a style="color: white;" href="{{site.baseurl}}/collab/">Collaborators</a> | 
  <a style="color: white;" href="{{site.baseurl}}/upcoming/">Upcoming | </a>
  <a style="color: white;" href="{{site.baseurl}}/upcoming/">Contact</a>

  </h2>
</nav>
